.ProductsContainer {
  margin-top: $spacing-medium;
  section {
    padding: $spacing-large;
    &:nth-child(even) {
      background-color: $lightGreyColor;
    }
    div {
      max-width: 305px;
      margin: auto;
    }
    img {
      height: 40px;
      float: left;
      margin-right: $spacing-small;
    }
    h3 {
      margin: $spacing-small;
      float: left;
      color: $darkGreenColor;
    }
    p {
      display: inline-block;
      margin-top: $spacing-small;
    }
  }
}

@media (min-width: 860px) {
  .ProductsContainer {
    margin-top: $spacing-large;
    section {
      padding: $spacing-large 0 0 0;
      &:nth-child(even) {
        background-color: $whiteColor;
      }
      & > div {
        max-width: 825px;
        img {
          height: 190px;
          margin-right: $spacing-medium;
        }
      }
      div div {
        max-width: 560px;
        float: left;
      }
    }
  }
}
