.ProductsContainer {
  margin-top: $spacing-medium;
  section {
    padding: $spacing-large 0;
    &:nth-child(even) {
      background-color: $lightGreyColor;
    }
    & > div {
      max-width: 305px;
      margin: auto;
      display: flex;
    }
    a {
      display: block;
      color: $darkGreenColor;
      text-decoration: none;
      font-size: inherit;
      &:hover,
      &:focus,
      &:visited {
        color: $darkGreenColor;
      }
    }
    div {
      margin: auto;
    }
    img {
      width: 55px;
      margin-right: $spacing-small;
      height: 80px;
      border-radius: 5px;
      border: solid 1px $darkGreenColor;
    }
    h3 {
      color: $darkGreenColor;
      margin-bottom: $spacing-small;
    }
    p {
      text-align: justify;
    }
  }
}

@media (min-width: 860px) {
  .ProductsContainer {
    margin-top: $spacing-large;
    section {
      padding: $spacing-large 0 0 0;
      &:nth-child(even) {
        background-color: $whiteColor;
      }
      & > div {
        max-width: 825px;
      }
      img {
        height: 170px;
        margin-right: $spacing-large;
        width: auto;
        object-fit: cover;
      }
      a div {
        max-width: 560px;
        float: left;
      }
    }
  }
}
