.error-page {
  position: relative;
  height: calc(100vh - 65px);
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 305px;
    text-align: center;
    color: $darkGreenColor;
  }
}

@media (min-width: 860px) {
  .error-page {
    h1 {
      width: 825px;
    }
  }
}
