// Main Colors
$lightGreenColor: #dcfbaa;
$darkGreenColor: #436d00;
$whiteColor: #fff;
$lightGreyColor: #eef2f1;
$blackColor: #000;
$orangeColor: #feb139;

//Main spacing styles
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
$spacing-xlarge: 46px;
